<div class="container text-center register" *ngIf="!isRegister">
    <h1 class="title">Register</h1>
    <p class="introRegister">Validate your data so that no one can enter or create an account in your name.<br/>
        <b class='important'>Password must contain one uppercase letter, one special character, and a minimum of 8 characters.</b></p>
    <form [formGroup]="formUser">
        <div class="row">
            <input type="email" formControlName="email" class="offset-1 col-6" placeholder="email@domain.com"/>

            <span class="offset-1 col-4 alert alert-danger" *ngIf="!isErrorEmail(email)">
                {{getErrorEmail(email)}}
            </span>
        </div>
        <div class="row">
            <input type="text" formControlName="fName" class="offset-1 col-3"  placeholder="first name"/>
            <input type="text" formControlName="lName" class="col-3" placeholder="last name"/>

            <span class="offset-1 col-4 alert alert-danger" *ngIf="!isErrorName(fName, lName)">
                {{getErrorName(fName, lName)}}
            </span>
        </div>
        <div class="row">
            <input type="text" formControlName="username" class="offset-1 col-6" placeholder="username"/>
            
            <span class="offset-1 col-4 alert alert-danger" *ngIf="!isErrorUsername(username)">
                {{getErrorUsername(username)}}
            </span>
        </div>
        <div class="row">
            <input type="text" formControlName="phone" class="offset-1 col-6" placeholder="phone (Optional)"/>
        </div>
        <div class="row">
            <input type="password" formControlName="password" class="offset-1 col-3"  placeholder="password"/>
            <input type="password" formControlName="vPassword" class="col-3" placeholder="verify password"/>

            <div class="offset-1 col-4 alert alert-danger" *ngIf="isErrorPassword(password, vPassword)">
                <span>{{getErrorPassword(password, vPassword)}}</span>
            </div>
        </div>
        <div class="row">
            <button type="button" class="btn btn-outline-primary offset-4 col-4" 
            [disabled]="formUser.invalid && !isErrorPassword(password, vPassword)" (click)="sendDataRegister()">register</button>
        </div>
    </form>
</div>

<div class="container text-center register" *ngIf="isRegister">
    <h1>successfully registered</h1>
    <img class="image-registred" src={{urlImagelike}} alt="f">
</div>