<div class="container text-center register">
    <h1>Register</h1>
    <p>Validate your data so that no one can enter or create an account in your name.</p>
    <div class="row">
        <input type="text" class="offset-1 col-6" placeholder="email"/>
        <p class="offset-1 col-2">verify</p>
    </div>
    <div class="row">
        <input type="text" class="offset-1 col-3"  placeholder="first name"/>
        <input type="text" class="col-3" placeholder="last name"/>
        <p class="offset-1 col-2">verify</p>
    </div>
    <div class="row">
        <input type="text" class="offset-1 col-6" placeholder="username"/>
        <p class="offset-1 col-2">verify</p>
    </div>
    <div class="row">
        <input type="text" class="offset-1 col-6" placeholder="phone"/>
        <p class="offset-1 col-2">verify</p>
    </div>
    <div class="row">
        <input type="password" class="offset-1 col-3"  placeholder="password"/>
        <input type="password" class="col-3" placeholder="verify password"/>
        <p class="offset-1 col-2">verify</p>
    </div>
    <div class="row">
        <button type="button" class="btn btn-outline-success offset-4 col-4">verify</button>
    </div>
</div>

<!--
            <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
            <div class="card">
                <div class="card-body">You can collapse this card by clicking one Toggle button</div>
                <input type="text" placeholder="email"/>
            </div>
        </div>
-->
