<div class="product container">
    <div class="data-product row">
        <div class="container-image-product col-7">
            <img class="image-product" [src]="product.image" alt="No image found">
        </div>
        <div class="data-pay offset-1 col-4">
            <h1 class="product-name"><b>{{product.name}}</b></h1>
            <hr>
            <h1 class="product-price">price: <b class="price">${{product.price}}</b></h1>
            <div class="stock">
                <div class="offset-4 col-4">
                    <select class="select-size form-select" id="options">
                        <option>Opción 1</option>
                        <option>Opción 2</option>
                        <option>Opción 3</option>
                      </select>
                </div>
                <input class="offset-4 col-4" type="number" placeholder="amount"/>
            </div>
            <hr>
            <button class="button btn btn-primary offset-3 col-6">buy now</button>
            <button class="button btn btn-outline-primary offset-3 col-6">add to cart</button>
        </div>
    </div>
</div>
