<div class="container text-center register col-lg-6 col-md-10 col-sm-9" *ngIf="!isRegister">
    <div class="row">
        <div class="col-title offset-4 col-4"><h1 class="title">Register</h1></div>
    </div>
    <p class="introRegister">Validate your data so that no one can enter or create an account in your name.<br/>
        <b class='important'>Password must contain one uppercase letter, one special character, and a minimum of 8 characters.</b></p>
    <form [formGroup]="formUser">
        <div class="row">
            <input type="email" formControlName="email" class="input-form offset-1 col-6" placeholder="email@domain.com"/>

            <span class="offset-1 col-4 alert alert-danger" *ngIf="!isErrorEmail()">
                {{getErrorEmail()}}
            </span>
        </div>
        <div class="row">
            <input type="text" formControlName="fName" class="input-form offset-1 col-3"  placeholder="first name"/>
            <input type="text" formControlName="lName" class="input-form col-3" placeholder="last name"/>

            <span class="offset-1 col-4 alert alert-danger" *ngIf="!isErrorName()">
                {{getErrorName()}}
            </span>
        </div>
        <div class="row">
            <input type="text" formControlName="username" class="input-form offset-1 col-6" placeholder="username"/>
            
            <span class="offset-1 col-4 alert alert-danger" *ngIf="!isErrorUsername()">
                {{getErrorUsername()}}
            </span>
        </div>
        <div class="row">
            <input type="text" formControlName="phone" class="input-form offset-1 col-6" placeholder="phone (Optional)"/>
        </div>
        <div class="row">
            <input type="password" formControlName="password" class="input-form offset-1 col-3"  placeholder="password"/>
            <input type="password" formControlName="vPassword" class="input-form col-3" placeholder="verify password"/>

            <div class="offset-1 col-4 alert alert-danger" *ngIf="isErrorPassword()">
                <span>{{getErrorPassword()}}</span>
            </div>
        </div>
        <div class="row">
            <button type="button" class="btn btn-primary button-register offset-4 col-4" 
            [disabled]="formUser.invalid || isErrorPassword()" (click)="sendDataRegister()">register</button>
        </div>
        <div class="row">
            <div class="col offset-4">
                <h5 class="col-6">Do you have an account? <a href="user/login">Log In</a></h5>
            </div>
        </div>
    </form>
</div>

<div class="container text-center successfullyRegister col-lg-4 col-md-4 col-sm-4" *ngIf="isRegister">
    <h1 class="title">successfully registered</h1>
    <div class="introsuccessFully">
        <p>Reminder: <b class='important'>There is no backend, you can't register</b>.</p>
        <img class="image-registred" src={{urlImagelike}} alt="f">
    </div>
</div>