<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="'false'">
    <mat-toolbar>Menu</mat-toolbar>

    <mat-nav-list>
      <a mat-list-item href="/home">Home</a>
      <a mat-list-item href="/user/login">Login</a>
      <a mat-list-item href="/user/register">Register</a>
      <hr>  
      <h2 class="ms-3">Categories</h2>
      <a mat-list-item href="/home;filter=shirt">Shirts</a>
      <a mat-list-item href="/home;filter=pants">Pants</a>
      <a mat-list-item href="/home;filter=skirt">Skirts</a>
      <a mat-list-item href="/home;filter=gloves">Gloves</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>OnlineStore</span>
      <input type="text"
      class="form-control"
      [ngClass]="{'searchmaxwidth': !(isHandset$ | async)}"
      placeholder="Search..."
      input (keydown.enter)="filter($event)"
      />
      
      <div *ngIf="!(isHandset$ | async)" class="user-buttons">
        <button mat-raised-button routerLink="/user/login" color="primary">Log in</button>
        <button mat-raised-button routerLink="/user/register" color="primary">Register</button>
      </div>
      
    </mat-toolbar>
    <app-dashboard></app-dashboard>

  </mat-sidenav-content>

</mat-sidenav-container>
