.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.user-buttons {
  position: absolute;
  right: 5px;
}

.user-buttons button {
  margin: 3px;
}

input {
  position: relative;
  margin: 2%;
  max-width: 25%;
}